/*scrollbar*/
::-webkit-scrollbar { width: 8px; height: 3px; }

::-webkit-scrollbar-track-piece { margin-right: 10px; background-color: #EEE; -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical { height: 6px; background-color: #DDD; -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:horizontal { width: 3px; background-color: #EEE; -webkit-border-radius: 6px; }

.g-frame { width: 100%; height: 100%; }
.g-frame .g-mobile-cover { position: relative; top: 70px; width: 100%; }
.g-frame .g-mobile-cover .g-moframe { display: none; }
.g-frame .g-mobile-cover .g-mobfra-in { display: none; margin: 0 auto; position: relative; top: 0; width: 320px; height: 480px; }
.g-frame .g-mobile-cover .g-mobfra-in .g-mobfra-header { position: absolute; top: -49px; left: -26px; width: 355px; height: 49px; background: url(../images/mobfra-header.png) no-repeat 0 0; background: url(../images/mobfra-header-ie7.png) no-repeat 0 0\9; background-size: 355px 49px; }
.g-frame .g-mobile-cover .g-mobfra-in .g-mobfra-main { position: absolute; top: 0; left: -26px; width: 355px; height: 480px; background: url(../images/mobfra-content.png) repeat-y 0 0; background: url(../images/mobfra-content-ie7.png) repeat-y 0 0\9; background-size: 355px 100%; }
.g-frame .g-mobile-cover .g-mobfra-in .g-mobfra-footer { position: absolute; bottom: -89px; left: -26px; width: 355px; height: 89px; background: url(../images/mobfra-footer.png) no-repeat 0 0; background: url(../images/mobfra-footer-ie7.png) no-repeat 0 0\9; background-size: 355px 89px; }
.g-frame .g-mobile-cover .g-mobile-area { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; width: 100%; height: 100%; overflow: hidden; }
.g-frame .g-mobile-cover .g-mobile-area .g-mobfra-editor-wrap { margin: 0 auto; width: 320px; position: relative; font-size: 0; }
.g-frame .g-mobile-cover .g-mobile-area .g-mobfra-editor-wrap .g-mobfra-mask { margin: 0 auto; width: 320px; overflow: hidden; }
.g-frame .g-mobile-cover .g-mobile-area .g-mobfra-editor-wrap .g-mobfra-mask .g-mobfra-editor { margin: 0 auto; width: 320px; height: 100%; overflow: hidden; }

.g-pc-box { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }

#mainFrame { width: 100%; height: 100%; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.m-mobfra-ewm { display: none; position: absolute; left: 50%; margin-left: -360px; top: 38px; z-index: 2; width: 145px; }
.m-mobfra-ewm .m-ewmimg-ti { padding-bottom: 8px; color: #295573; font-size: 15px; font-weight: bold; text-align: center; line-height: 24px; white-space: word-break; }
.m-mobfra-ewm .m-ewmimg { padding: 10px; background: #FFF; border-radius: 4px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden; }
.m-mobfra-ewm .m-ewmimg img { width: 125px; height: 125px; }

.m-deviceSwitch .icon { display: inline-block; width: 16px; height: 16px; background-image: url(../images/switch-icon.png); background-image: url(../images/switch-icon-ie7.png) \9; background-size: cover; background-repeat: no-repeat; vertical-align: middle; transition: transform 0.1s linear; -webkit-transition: transform 0.1s linear; -o-transition: transform 0.1s linear; -ms-transition: transform 0.1s linear; -moz-transition: transform 0.1s linear; }

.m-deviceSwitch .icon.icon-pc-black { background-position: 0 0; }

.m-deviceSwitch .icon.icon-mobile-black { background-position: 0 -40px; }

.m-deviceSwitch { position: fixed; right: 30px; top: 30px; z-index: 999999; }
.m-deviceSwitch .m-switch-ul { margin: 0; padding: 0; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #FFF; border-radius: 4px; }
.m-deviceSwitch .m-switch-ul .m-switch-item { width: 48px; float: left; position: relative; list-style: none; }
.m-deviceSwitch .m-switch-ul .m-switch-item:hover { overflow: inherit; }
.m-deviceSwitch .m-switch-ul .m-switch-item:hover > .lzprompt-plan { display: block; z-index: 9; animation: tipfadeup 0.2s; -webkit-animation: tipfadeup 0.2s; }
.m-deviceSwitch .m-switch-ul .m-switch-item:first-child .m-switch-link { border-radius: 4px 0 0 4px; }
.m-deviceSwitch .m-switch-ul .m-switch-item:last-child .m-switch-link { border-radius: 0 4px 4px 0; }
.m-deviceSwitch .m-switch-ul .m-switch-item .m-switch-link { display: block; width: 48px; height: 48px; line-height: 48px; text-align: center; }
.m-deviceSwitch .m-switch-ul .m-switch-item .m-switch-link:hover { cursor: pointer; }
.m-deviceSwitch .m-switch-ul .m-switch-item .m-switch-link .icon { width: 20px; height: 20px; vertical-align: top; margin-top: 14px; }
.m-deviceSwitch .m-switch-ul .m-switch-item.z-current { background-color: #609EE9; }
.m-deviceSwitch .m-switch-ul .m-switch-item.z-current:first-child { border-radius: 4px 0 0 4px; }
.m-deviceSwitch .m-switch-ul .m-switch-item.z-current:last-child { border-radius: 0 4px 4px 0; }
.m-deviceSwitch .m-switch-ul .m-switch-item.z-current .icon.icon-pc-black { background-position: 0 -20px; }
.m-deviceSwitch .m-switch-ul .m-switch-item.z-current .icon.icon-mobile-black { background-position: 0 -60px; }
.m-deviceSwitch .m-switch-ul .m-switch-item.z-current:hover .m-switch-link { cursor: default; }
.m-deviceSwitch .m-switch-ul .m-switch-item.z-current:hover .lzprompt-plan { display: none; }

@keyframes tipfadeup { from { top: 54px; filter: alpha(opacity=0); -moz-opacity: 0; -webkit-opacity: 0; -ms-opacity: 0; -o-opacity: 0; opacity: 0; }
  to { top: 56px; filter: alpha(opacity=100); -moz-opacity: 1; -webkit-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1; } }
@-webkit-keyframes tipfadeup /*Safari and Chrome*/ { from { top: 54px; filter: alpha(opacity=0); -moz-opacity: 0; -webkit-opacity: 0; -ms-opacity: 0; -o-opacity: 0; opacity: 0; }
  to { top: 56px; filter: alpha(opacity=100); -moz-opacity: 1; -webkit-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1; } }
.lzprompt-point-bottom { width: 0; height: 0; }

.lzprompt-point-bottom { border: 8px solid transparent; }

.lzprompt-point-bottom { position: absolute; overflow: visible !important; visibility: inherit !important; }

.m-deviceSwitch .lzprompt-plan { position: absolute; z-index: -1; left: 0; top: 54px; font-size: 12px; font-style: normal; font-weight: 400; line-height: 1.5; box-sizing: border-box; min-width: 56px; max-width: 300px; padding: 8px 16px; background-color: rgba(35, 45, 60, 0.9); font-family: 'Microsoft yahei'; text-align: left; z-index: 3000; border-radius: 4px; white-space: nowrap; color: #E6E9ED; display: none; }

.lzprompt-point-bottom { border-bottom-width: 4px; border-bottom-color: rgba(35, 45, 60, 0.9); left: 50%; top: -12px; margin-left: -8px; }

.g-pc-pc { background: url(../images/bg01.png) repeat-y center top; }
.g-pc-pc .g-view { width: 100%; height: 100%; }
.g-pc-pc .g-view .g-mobile-cover { position: inherit; top: 0; height: 100%; }
.g-pc-pc .g-view .g-mobile-area { position: inherit; width: 100%; height: 100%; margin: 0 auto; overflow: inherit; padding:30px 0;}
.g-pc-pc .g-view .g-mobile-area .g-view-con { height: 100%;box-shadow: 0 2px 5px 1px rgba(124, 124, 124, 0.2); }
.g-pc-pc.bgnone { background: none; }


.g-pc-inner .m-deviceSwitch { display: none; }

.g-pc-inner .g-view { width: 100%; height: 100%; }
.g-pc-inner .g-view .g-mobile-cover { position: inherit; top: 0; height: 100%; }
.g-pc-inner .g-view .g-mobile-area { position: inherit; width: 100%; height: 100%; margin: 0 auto; overflow: inherit; }
.g-pc-inner .g-view .g-mobile-area .g-view-con { margin: 0; height: 100%; }

.g-pc-mobile { background: url(../images/bg01.png) repeat-y center top; }
.g-pc-mobile .g-view .g-mobile-cover { height: 480px; *position: relative; }
.g-pc-mobile .g-view .m-mobfra-ewm { display: block; }
.g-pc-mobile .g-view .g-mobfra-in { display: block; }
.g-pc-mobile .g-view .g-mobile-area { width: 320px; margin: 0 auto; height: 480px; overflow-y: auto; *position: absolute; *left: 50%; *margin-left: -160px; }
.g-pc-mobile .g-view .g-mobile-area .g-view-con { height: 100%; }


.g-mobile-inner .m-deviceSwitch { display: none; }

.g-mobile-inner .g-view { width: 100%; height: 100%; }
.g-mobile-inner .g-view .g-mobile-cover { position: inherit; top: 0; height: 100%; }
.g-mobile-inner .g-view .g-mobile-area { position: inherit; width: 100%; height: 100%; margin: 0 auto; overflow: inherit; }
.g-mobile-inner .g-view .g-mobile-area .g-view-con { margin: 0; height: 100%; }

.g-mobile-mobile .m-deviceSwitch { display: none; }
.g-mobile-mobile .g-view .g-mobile-cover { height: 100%; position: inherit; top: 0; }
.g-mobile-mobile .g-view .m-mobfra-ewm { display: none; }
.g-mobile-mobile .g-view .g-mobfra-in { display: none; }
.g-mobile-mobile .g-view .g-mobile-area { width: 100%; margin: 0; height: 100%; overflow: inherit; }
.g-mobile-mobile .g-view .g-mobile-area .g-view-con { height: 100%; }

.g-pc-pc .esmartMargin, .g-pc-inner .esmartMargin { margin-top: 8px; }
.g-pc-pc .w-spacing, .g-pc-inner .w-spacing { padding: 8px 30px; }
.g-pc-mobile .esmartMargin, .g-mobile-inner .esmartMargin, .g-mobile-mobile .esmartMargin { margin-top: 8px !important; }
.g-pc-mobile .w-spacing, .g-mobile-inner .w-spacing, .g-mobile-mobile .w-spacing { padding: 0 15px; }
.g-pc-mobile .w-banner-columns, .g-mobile-inner .w-banner-columns, .g-mobile-mobile .w-banner-columns { width: 100% !important; }
.g-pc-mobile .w-columns .w-columns-item, .g-mobile-inner .w-columns .w-columns-item, .g-mobile-mobile .w-columns .w-columns-item { min-height: auto !important; }
.g-pc-mobile .w-submit, .g-mobile-inner .w-submit, .g-mobile-mobile .w-submit { width: 100% !important; }
.g-pc-mobile .w-spacingR20, .g-mobile-inner .w-spacingR20, .g-mobile-mobile .w-spacingR20 { padding-right: 20px !important; }
.g-pc-mobile .w-width50, .g-mobile-inner .w-width50, .g-mobile-mobile .w-width50 { width: 50% !important; }
.g-pc-mobile .w-height100, .g-mobile-inner .w-height100, .g-mobile-mobile .w-height100 { height: 100% !important; }
.g-pc-mobile .w-verticalTop, .g-mobile-inner .w-verticalTop, .g-mobile-mobile .w-verticalTop { vertical-align: top; }

.g-pc-pc .header .esmartMargin, .g-pc-inner .header .esmartMargin, .g-pc-mobile .header .esmartMargin, .g-mobile-inner .header .esmartMargin, .g-mobile-mobile .header .esmartMargin { margin-top: 0; }
.g-pc-pc .main, .g-pc-inner .main, .g-pc-mobile .main, .g-mobile-inner .main, .g-mobile-mobile .main { margin-top: -8px !important; }

.g-pc-pc .g-view .g-mobile-area.wrap414 { width: 100%; position: relative; left: 0; right: 0; bottom: 0; }
.g-pc-pc .g-view .g-mobile-area.wrap414 .g-view-con { margin: 0; }

.g-pc-pc .g-view .g-mobile-area.wrap520 { width: 400px; position: relative; left: 50%; margin-left: -250px; }

.g-pc-pc .g-view .g-mobile-area.wrap800 { width: 560px; position: relative; left: 50%; margin-left: -280px; }

.g-pc-pc .g-view .g-mobile-area.wrap1024 { width: 600px; position: relative; left: 50%; margin-left: -300px; }

.g-pc-pc .g-view .g-mobile-area.wrap1152 { width: 640px; position: relative; left: 50%; margin-left: -320px; }

.g-pc-pc .g-view .g-mobile-area.wrap1280 { width: 720px; position: relative; left: 50%; margin-left: -360px; }

.g-pc-pc .g-view .g-mobile-area.wrap1366 { width: 800px; position: relative; left: 50%; margin-left: -400px; }

.g-pc-pc .g-view .g-mobile-area.wrap1440 { width: 900px; position: relative; left: 50%; margin-left: -450px; }

.g-pc-pc .g-view .g-mobile-area.wrap1680 { width: 1000px; position: relative; left: 50%; margin-left: -500px; }

.g-pc-pc .g-view .g-mobile-area.wrap1920 { width: 1200px; position: relative; left: 50%; margin-left: -600px; }

.g-pc-pc .g-view .g-mobile-area.wrap2048 { width: 1280px; position: relative; left: 50%; margin-left: -640px; }

@media screen and (max-width: 414px) { .g-pc-pc { background: none; }
  .g-pc-pc .g-view .g-mobile-area { width: 100%; }
  .g-pc-pc .g-view .g-mobile-area .g-view-con { margin: 0; box-shadow: none; }
  .g-pc-pc .m-deviceSwitch { display: none; }
  .g-view-mobile .m-deviceSwitch { display: block; } }
@media screen and (min-width: 520px) { .g-pc-pc .g-view .g-mobile-area { width: 500px; } }
@media screen and (min-width: 800px) { .g-pc-pc .g-view .g-mobile-area { width: 560px; } }
@media screen and (min-width: 1024px) { .g-pc-pc .g-view .g-mobile-area { width: 600px; } }
@media screen and (min-width: 1152px) { .g-pc-pc .g-view .g-mobile-area { width: 640px; } }
@media screen and (min-width: 1280px) { .g-pc-pc .g-view .g-mobile-area { width: 720px; } }
@media screen and (min-width: 1366px) { .g-pc-pc .g-view .g-mobile-area { width: 800px; } }
@media screen and (min-width: 1440px) { .g-pc-pc .g-view .g-mobile-area { width: 900px; } }
@media screen and (min-width: 1680px) { .g-pc-pc .g-view .g-mobile-area { width: 1000px; } }
@media screen and (min-width: 1920px) { .g-pc-pc .g-view .g-mobile-area { width: 1200px; } }
@media screen and (min-width: 2048px) { .g-pc-pc .g-view .g-mobile-area { width: 1280px; } }
/*- f-clearfix -*/
.f-clearfix:before, .f-clearfix:after, .clearfix:before, .clearfix:after, .f_clearfix:before, .f_clearfix:after { content: ""; display: table; }

.f-clearfix:after, .clearfix:after, .f_clearfix:after { clear: both; overflow: hidden; }

.f-clearfix, .clearfix, .f_clearfix { zoom: 1; }

/*# sourceMappingURL=view-form.css.map */

.errMsg{ display:none;}
.errMsg.error{ margin:10px 0 0;	padding:5px 10px 6px; color:#e75845; border:1px solid #ffa8a8; height:auto;	line-height:1.5; font-size:12px; background-color:#fff1f1;}

.u-formnote { position: fixed;top:50%;left: 50%; z-index: 1000001; margin-left: -145px;margin-top:-88px; padding: 12px 12px 36px; width: 264px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); background-color: #FFF; border: 1px #e7e8e8 solid; border-radius: 6px; text-align: center; }
.u-formnote .u-close { padding: 5px; }
.u-formnote .u-close .icon { float: right; }
.u-formnote .u-close .icon:hover { opacity: 0.9; filter: alpha(opacity=90); }
.u-formnote .u-img { padding-top: 10px; }
.u-formnote .u-img img { width: 90px; height: 76px; }
.u-formnote .u-text { padding-top: 16px; font-size: 13px; color: #4A4A4A; line-height: 22px; }

.hidden {
    display: none!important;
    visibility: hidden!important;
}
.g-inner #smv_Main { width: auto; }

/* œ¬¿≠øÚ’⁄’÷ */
.form-control-mask{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	opacity:0;
	filter:alpha(opacity=0);
	background-color:#fff;
}